.user-list-heading {
  span {
    float: right;
    font-weight: normal;
    font-style: italic;
    font-size: 0.9rem;
  }
}

.list-pagination {
  justify-content: center;
}

.user-list-table {
  tbody tr {
    cursor: pointer;
  }
}
